<div class="jumbotron">
    <img src="https://avatars1.githubusercontent.com/u/32482377?s=460&v=4" alt="Glastonbury Picture" height="150" width="150"> 
    <h1>Rich's Home Page </h1>
    <p class="lead">Programming Languages I would Like To Learn:</p>

    <ul>
        <li>C#</li>
        <li>Java Script</li>
        <li>Python</li>
        <li>HTML</li>
    </ul>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>My Interests</h2>
        <p>
            I am interested in going to music festivals and gigs. I go as often as I can and have been to some sort of festival every summer for a few years now. 
            I have been to some of the UK's biggest festivals and music weekends, I save all year round to go to as many as possible. 
            I enjoy finding new bands that are just staring their first tours, recently I went to see the band Sea Girls who are very good.
            There are a large number of venues to go to around where I live and we are never without a month where we can watch live music. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>My Favourite Foods</h2>
        <ol type="1">
            <li>Burgers</li>
            <li>Chicken</li>
            <li>Duck</li>
            <li>Lobster</li>
            <li>Milkshakes</li>
            <li>Pizza</li>
            <li>Scampi</li>
            <li>Steak</li>
            <li>Sweet Potato Fries</li>
        </ol>
    </div>
    <div class="col-md-4">
        <h2>Websites I think Are Well Designed</h2>
        <ol type="A">
            <li><a href="https://github.com">Github</a></li>
            <li><a href="https://www.w3schools.com">W3schools</a></li>
            <li><a href="https://www.instagram.com/sem/campaign/?&campaign_id=196738831093730&gclid=EAIaIQobChMIqM7j1rKC2gIV5pPtCh0V2QIoEAAYASAAEgINaPD_BwE">Instagram</a></li>
            <li><a href="https://www.boardmasters.com">Boardmasters</a></li>
            <li><a href="http://www.asos.com/men/">ASOS</a></li>
        </ol>
    </div>
</div>
